.cell {
    height: 50mm;
    width: 50mm;

    font-size: 60px;
    line-height: 1rem;
    place-content: center;
    text-align: center;
    border: 1px solid var(--primary-color-accent);
}

.cell-empty {
    cursor: pointer;
}

.cell-empty:hover {
    box-shadow: 0 0 2px var(--primary-color-accent);
    background-color: var(--primary-color-accent);
}

.cell-X {
    color: #e74c3c;
}

.cell-O {
    color: #6363ee;
}
