.cell {
    display: flex;
justify-content: center;
align-items: center;
    text-align: center;
    font-size: 72px;
    user-select: none;
    cursor: initial;
    width: inherit;
    height: inherit;
}

.cell-empty {
    cursor: pointer;
}

.cell-empty:hover {
    box-shadow: 0 0 2px var(--background);
    background-color: var(--background);
}

.cell-X {
    color: #e74c3c;
}

.cell-O {
    color: #6363ee;
}