.grid-container {
    display: inline-block;
    margin: 2vh 3vw;
}

.grid {
    width: 30vw;
    padding: 1vh 1vw;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 1vh;
}

.grid-cell {
    width: 10vw;
    height: 10vh;
    border: thin solid grey;
}
