.App {
    padding: 0;
}

header {
    height: 10vh;
    padding: 0 10vw;
    border: 1px solid black
}

h1, h2 {
    padding: 0;
    margin: 0;
}

h1 {
    font-size: 32px;
}

h2 {
    font-size: 24px;
}

header h1 {
    line-height: 10vh;
}

.flexible {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

section.game-container {
    padding: 0 10vw;
}
